<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
         bootstrap="vendor/autoload.php"
         failOnWarning="true"
         failOnRisky="true">
    <testsuites>
        <testsuite name="Detectors">
            <directory>tests/Detector</directory>
        </testsuite>
        <testsuite name="Core">
            <directory>tests/Core</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="error_reporting" value="E_ALL"/>
        <ini name="pcre.backtrack_limit" value="1000000"/>
    </php>
</phpunit>
